*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
  
}
.heading{
    position: absolute;
    top: 50px;
    text-align: center;
    color: white;

}
.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
    border: 2px solid blue;
}


.container header{
    color: #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 8px;
    border: 2px solid blue;
    background: transparent;
}

header h2{
    font-size: 1.6rem;
    user-select: none;
    color: white;
}

.mover1{
    height: 10px;
    width: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    animation: moveing1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
@keyframes moveing1{
     0%{

     }
     100%{
        transform: translateX(700px) rotate(3600deg);
    }
}
.mover2{
    height: 10px;
    width: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    animation: moveing2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
@keyframes moveing2{
    0%{

    }
    100%{
       transform: translateX(-700px) rotate(3600deg);
   }
}


.piano-keys{
    display: flex;
    margin-top: 40px;
}
.piano-keys .key{
    cursor: pointer;
    color: #a2a2a2;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    user-select: none;
}
.piano-keys .white{
    width: 70px;
    height: 230px;
    border: 1px solid #000;
    border-radius: 8px;
    background: linear-gradient(#fff 96%,#eee 4%);
   
    
}
.piano-keys .white:active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#eee 100%) ;
}
.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius:0 0 5px 5px;
    background: linear-gradient(#333 ,#000);
}
.piano-keys .black:active{
    box-shadow: inset -5px 5px 20px rgba(255,255,255,0.1);
    background:linear-gradient(to bottom,#000,#434343) ;
}
.piano-keys span{
    position:absolute ;
    bottom: 20px;
    font-size: 1.13rem;
    width: 100%;
    text-align: center;
}